
.cta {
    background-color: #f5e6d7;
    color: #b44628;
    left: 0px;
    top: 60px;
    width: 100%;
    padding: 30px 0
}

.cta .wrapper {
    padding-left: 0px
}

.cta .divider {
    background: #fff;
    margin: 15px auto;
    height: 2px;
    width: 25px
}

.cta .body {
    margin: 0 auto
}

.cta .cta-linkout {
    display: inline-block;
    position: relative;
    margin: 30px 0px
}

.cta .button {
    z-index: 5;
    color: #b44628;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transition: opacity 0.25s ease-out;
    -o-transition: opacity 0.25s ease-out;
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out
}

.cta .button.active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

.cta .direction {
    position: relative;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-transition: opacity 0.25s ease-out 0.25s;
    -o-transition: opacity 0.25s ease-out 0.25s;
    -webkit-transition: opacity 0.25s ease-out 0.25s;
    transition: opacity 0.25s ease-out 0.25s
}

.cta .direction.active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

.cta .arrow {
    padding-bottom: 20px
}

.cta .arrow-container {
    display: block;
    width: 100%
}

.cta .arrow-down {
    width: 100%
}

.cta .arrow-down:after,.cta .arrow-down:before {
    content: '';
    height: 18px;
    width: 2px;
    display: inline-block;
    background: #b44628
}

.cta .arrow-down:after {
    margin-left: 5px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.cta .arrow-down:before {
    margin-right: 5px;
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.cta .h2 {
    font-weight: bold
}

@media (min-width: 769px) {
    .cta {
        padding:30px 0
    }

    .cta .wrapper {
        margin-bottom: 90px
    }

    .cta .container {
        position: relative
    }

    .cta .button {
        position: static;
        left: auto;
        top: auto;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none
    }

    .cta .h1.heading {
        padding: 60px 0
    }

    .cta .img,.cta .copy {
        max-width: 380px;
        margin: 0 auto
    }

    .cta .section:first-of-type {
        padding-left: 30px
    }

    .cta .section:last-of-type {
        padding-right: 30px
    }

    .cta .img-wrapper {
        display: table;
        table-layout: fixed;
        width: 100%
    }

    .cta .img-wrapper .section {
        display: table-cell;
        vertical-align: middle;
        float: none
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .cta .h1.heading {
        padding:30px 0
    }

    .cta .section {
        margin-bottom: 30px
    }

    .cta .body {
        margin: 0 auto
    }

    .cta .img {
        margin-bottom: 30px
    }

    .cta .img img {
        width: 50%;
        max-width: 300px
    }
}

@media (max-width: 480px) {
    .cta .wrapper {
        padding:0 30px
    }

    .cta .h1.heading {
        padding: 0px 0px 15px
    }

    .cta .section {
        padding-left: 15px;
        margin-bottom: 30px
    }

    .cta .divider {
        margin: 10px auto
    }

    .cta .body {
        margin: 0 auto
    }

    .cta .img {
        display: none
    }

    .cta .cta-linkout {
        padding: 0 15px
    }
}

.hc-button,.button {
    border-radius: 4px;
    display: inline-block
}

.hc-button .outer-border,.button .outer-border {
    position: relative;
    height: 0px;
    -moz-transform: translate3d(-7px, -5px, 0);
    -o-transform: translate3d(-7px, -5px, 0);
    -ms-transform: translate3d(-7px, -5px, 0);
    -webkit-transform: translate3d(-7px, -5px, 0);
    transform: translate3d(-7px, -5px, 0);
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out
}

.hc-button .outer-border i,.button .outer-border i {
    color: #b44628
}

.hc-button .background,.button .background {
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 6px
}

.hc-button .destination,.button .destination {
    line-height: 65px;
    font-weight: 600;
    text-transform: uppercase;
    -moz-transform: translate3d(-7px, -5px, 0);
    -o-transform: translate3d(-7px, -5px, 0);
    -ms-transform: translate3d(-7px, -5px, 0);
    -webkit-transform: translate3d(-7px, -5px, 0);
    transform: translate3d(-7px, -5px, 0);
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    text-align: center
}

.hc-button:hover .outer-border,.button:hover .outer-border {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.hc-button:hover .destination,.button:hover .destination {
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@media (min-width: 1440px) {
    .hc-button i:before,.button i:before {
        font-size:65px
    }

    .hc-button .destination,.button .destination {
        font-size: 18px;
        line-height: 65px
    }

    .l-button,.m-button,.s-button {
        height: 65px
    }

    .l-button {
        width: 280px
    }

    .m-button {
        width: 240px
    }

    .s-button {
        width: 200px
    }
}

@media only screen and (max-width: 1439px) and (min-width: 1025px) {
    .hc-button i:before,.button i:before {
        font-size:57px
    }

    .hc-button .destination,.button .destination {
        font-size: 16px;
        line-height: 57px
    }

    .s-button,.m-button,.l-button {
        height: 57px
    }

    .s-button {
        width: 178px
    }

    .m-button {
        width: 214px
    }

    .l-button {
        width: 250px
    }
}

@media (max-width: 1024px) {
    .hc-button i:before,.button i:before {
        font-size:50px
    }

    .hc-button .destination,.button .destination {
        font-size: 15px;
        line-height: 50px
    }

    .s-button,.m-button,.l-button {
        height: 50px
    }

    .s-button {
        width: 155px
    }

    .m-button {
        width: 186px
    }

    .l-button {
        width: 218px
    }
}