
@media screen and (min-width: 1024px) {
    .section-header {
        display:table;
        width: 100%
    }

    .section-header__title {
        margin-bottom: 12px
    }

    .section-header__left {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0
    }

    .section-header__left h1,.section-header__left .h1,.section-header__left h2,.section-header__left .h2,.section-header__left h3,.section-header__left .h3,.section-header__left h4,.section-header__left .h4,.section-header__left .h1,.section-header__left .h2,.section-header__left .h3,.section-header__left .h4 {
        margin-bottom: 0
    }

    .section-header__right {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 335px
    }
}

@media screen and (min-width: 1024px) and (max-width: 768px) {
    .section-header__right {
        margin-bottom:30px
    }
}

.section-header__right .form-horizontal,.section-header__right .collection-view {
    display: inline-block;
    vertical-align: middle
}

@media screen and (min-width: 481px) {
    .section-header__right label+select,.section-header__right .collection-view {
        margin-left:15px
    }
}