button {
    overflow: visible
}

button[disabled],html input[disabled] {
    cursor: default
}

.btn,.btn--secondary,.rte .btn--secondary,.rte .btn,.rte .btn--secondary {
    display: inline-block;
    padding: 8px 10px;
    width: auto;
    margin: 0;
    line-height: 1.42;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 3px;
    background-color: #747474;
    color: #fff
}

.btn:hover,.btn--secondary:hover,.rte .btn:hover,.rte .btn--secondary:hover {
    background-color: #5b5b5b;
    color: #fff
}

.btn:active,.btn--secondary:active,.btn:focus,.btn--secondary:focus,.rte .btn:active,.rte .btn--secondary:active,.rte .btn:focus,.rte .btn--secondary:focus {
    background-color: #414141;
    color: #fff
}

.btn[disabled],[disabled].btn--secondary,.btn.disabled,.disabled.btn--secondary,.rte .btn[disabled],.rte [disabled].btn--secondary,.rte .btn.disabled,.rte .disabled.btn--secondary {
    cursor: default;
    color: #b6b6b6;
    background-color: #f6f6f6
}

.btn--secondary,.rte .btn--secondary {
    background-color: #bbb
}

.btn--secondary:hover,.rte .btn--secondary:hover {
    background-color: #a2a2a2;
    color: #fff
}

.btn--secondary:active,.btn--secondary:focus,.rte .btn--secondary:active,.rte .btn--secondary:focus {
    background-color: #888;
    color: #fff
}

.btn--small {
    padding: 4px 5px;
    font-size: 0.85714em
}

.btn--large {
    padding: 12px 15px;
    font-size: 1.14286em
}

.btn--full {
    width: 100%
}