/** Normalizing CSS **/

html,body {
    padding: 0;
    margin: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

*,input,:before,:after {
    box-sizing: border-box
}

/** Base CSS **/

* {
    margin: 0
}

html {
    background-color: #f2f2f2;
    overflow-x: hidden;
    margin: 0;
    padding: 0
}

body {
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
    color: #4a4a4a;
    margin: 0;
    padding: 0
}

[tabindex='-1']:focus {
    outline: none
}

body,input,textarea,button,select {
    font-size: 14px;
    line-height: 1.6;
    font-family: "Work Sans",sans-serif;
    color: #333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    display: block;
    font-family: "Work Sans",sans-serif;
    font-weight: 700;
    margin: 0 0 0.5em;
    line-height: 1.4
}

h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a,h6 a,.h6 a {
    text-decoration: none;
    font-weight: inherit
}

h1,.h1 {
    font-size: 2.57143em
}

h2,.h2 {
    font-size: 2em
}

h3,.h3 {
    font-size: 1.57143em
}

h4,.h4 {
    font-size: 1.42857em
}

h5,.h5 {
    font-size: 1.14286em
}

h6,.h6 {
    font-size: 1em
}

p {
    margin: 0 0 15px 0
}

p img {
    margin: 0
}

em {
    font-style: italic
}

b,strong {
    font-weight: bold
}

small {
    font-size: 0.9em
}

sup,sub {
    position: relative;
    font-size: 60%;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.5em
}

blockquote {
    font-size: 1.125em;
    line-height: 1.45;
    font-style: italic;
    margin: 0 0 30px;
    padding: 15px 30px;
    border-left: 1px solid #e5e5e5
}

blockquote p {
    margin-bottom: 0
}

blockquote p+cite {
    margin-top: 15px
}

blockquote cite {
    display: block;
    font-size: 0.75em
}

blockquote cite:before {
    content: '\2014 \0020'
}

code,pre {
    background-color: #faf7f5;
    font-family: Consolas,monospace;
    font-size: 1em;
    border: 0 none;
    padding: 0 2px;
    color: #51ab62
}

pre {
    overflow: auto;
    padding: 15px;
    margin: 0 0 30px
}

hr {
    clear: both;
    border-top: solid #e5e5e5;
    border-width: 1px 0 0;
    margin: 30px 0;
    height: 0
}

hr.hr--small {
    margin: 15px 0
}

hr.hr--clear {
    border-top-color: transparent
}

a,.text-link {
    color: #747474;
    text-decoration: none;
    background: transparent
}

a:hover,a:focus {
    color: #9a9a9a
}

a,button {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

iframe[name="google_conversion_frame"] {
    position: fixed;
    height: 0px;
    width: 0px;
    padding: 0px;
    margin: 0px;
    z-index: -10000;
    visibility: hidden;
    opacity: 0
}

a {
    cursor: hand;
    cursor: pointer
}

.wrapper {
    *zoom:1;max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px
}

.wrapper:after {
    content: '';
    display: table;
    clear: both
}

@media screen and (min-width: 480px) {
    .wrapper {
        padding:0 30px
    }
}

.main-content {
    display: block;
    margin-top: 30px;
    padding-bottom: 60px
}

.desktop-nav .wrapper {
    padding: 0 120px
}

.section-header {
    margin-bottom: 20px
}

.sub-form {
    padding: 10px 0
}

.wrapper {
    clear: both;
    max-width: 1440px
}

@media (min-width: 1025px) {
    .main-content {
        min-height:900px
    }
}

@media (min-width: 769px) {
    .pane {
        height:100vh;
        width: 100%;
        display: table;
        table-layout: fixed
    }

    .pane .container {
        display: table-cell;
        vertical-align: middle
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .pane {
        height:100vh;
        width: 100%;
        display: table;
        table-layout: fixed
    }

    .pane .container {
        display: table-cell;
        vertical-align: middle
    }
}

#PageContainer {
    padding-top: 140px
}